<div class="title">
  <div class="row">
    <div class="col-xs-12">
      <h1>Settings</h1>
    </div>
  </div>
</div>
<div class="content-body">
  <form name="form" (ngSubmit)="f.form.valid && updateNote()" #f="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !first_name.valid }">
      <label for="firstName" class="form-label">First Name</label>
      <input type="text" id="firstName" class="form-control" name="firstName" [(ngModel)]="model.first_name" #first_name="ngModel" required />
      <div *ngIf="f.submitted && !fist_name.valid" class="form-control-feedback">First Name is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !last_name.valid }">
      <label for="lastName" class="form-label">Last Name</label>
      <input type="text" id="lastName" class="form-control" name="lastName" [(ngModel)]="model.last_name" #last_name="ngModel" required />
      <div *ngIf="f.submitted && !fist_name.valid" class="form-control-feedback">Last Name is required</div>
    </div>

    <div class="form-group text-xs-right">
      <button type="submit" class="btn btn-primary">Update Settings</button>
    </div>
    <div *ngIf="error" class="alert alert-warning">{{error}}</div>
  </form>
</div>
