.user-info {
  clear: both;
  overflow: auto;
  padding-top: 10px;
  border-bottom: 1px solid #FFF;
  .avatar {
    width: 35%;
    float: left;
    margin-bottom: 30px;
    img {
      width: 70%;
      background: #fff;
      margin-left: 15%;
      z-index: 1000;
      position: inherit;
      margin-top: 20px;
      border: 1px solid rgba(52, 73, 94, 0.44);
      padding: 4px;
      border-radius: 50%;
    }
  }
  .welcome-text {
    padding: 25px 10px 10px;
    width: 65%;
    float: left;
    span {
      font-size: 13px;
      line-height: 30px;
      color: #BAB8B8;
    }
    h2 {
      font-size: 14px;
      color: #ECF0F1;
      margin: 0;
      font-weight: 300;
    }
  }
}
.menu {
  list-style: none;
  padding-left: 0;
  li {
    cursor: pointer;
    height: 50px;
    text-align: center;
    &.active {
      background-color: #5F7388;
    }
    &:hover {
      background-color: #5F7388;
    }
    a {
      line-height: 50px;
      color: #FFF;
      text-decoration: none;
      &:active, &:focus, &:visited {
        color: #FFF;
      }
    }
  }
}

