<div class="user-info">
  <div class="avatar">
    <img src="/assets/images/avatar.jpg" alt="avatar">
  </div>
  <div class="welcome-text">
    <span>Welcome,</span>
    <h2>{{user.first_name}} {{user.last_name}}</h2>
  </div>
</div>
<ul class="menu">
  <li [class.active]="router.isActive('/panel/notes') || router.isActive('/panel/note')" routerLink="/panel/notes">
    <a>Notes</a>
  </li>
  <li [class.active]="router.isActive('/panel/groups') || router.isActive('/panel/group')" routerLink="/panel/groups">
    <a>Groups</a>
  </li>
  <li [class.active]="router.isActive('/panel/requests')" routerLink="/panel/requests">
    <a>Requests</a>
  </li>
  <li><a routerLink="/login">Logout</a></li>
</ul>
