/* You can add global styles to this file, and also import other style files */
$test: #FFF;

html, body {
  height: 100%;
}

.btn-header {
  padding-top: 5px;
}

.title {
  margin-top: 25px;
}

.note {
  margin-top: 20px;
  height: 340px;
  background-color: #EEE;
  border-radius: 5px;
  padding-bottom: 40px;
  h4 {
    background-color: #2A3F54;
    text-align: center;
    padding: 15px 0;
    border-radius: 5px 5px 0 0;
    font-size: 16px;
    color: $test;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  p {
    overflow: scroll;
    max-height: calc(100% - 70px);
    padding: 10px 20px;
    &.author {
      position: absolute;
      bottom: 0;
      right: 20px;
    }
  }
}

.auth-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

