<div class="title">
  <div class="row">
    <div class="col-sm-6 col-md-8">
      <h1>Groups</h1>
    </div>
    <div class="col-sm-6 col-md-4 text-sm-right btn-header">
      <button class="btn btn-primary" routerLink="new">Add Group</button>
    </div>
  </div>
</div>
<div class="content-body">
  <div class="row">
    <div class="col-sm-4" *ngFor="let group of groups">
      <div class="group">
        <h4><a routerLink="/panel/group/{{group.id}}/{{group.name}}">{{group.name}}</a></h4>
        <div class="notes">
          <div *ngIf="group.is_member">
            <ng-container *ngFor="let note of notes" >
              <div class="note-title" *ngIf="note.group_id == group.id">
                <a routerLink="/panel/note/{{note.id}}">{{note.title}}</a>
              </div>
            </ng-container>
          </div>
          <div *ngIf="!group.is_member">
            <div class="alert alert-info text-sm-center">
              You are not a member of this group<br>
              <button class="btn btn-primary" (click)="sendRequest(group.id)">Send request for joining to group</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
