@import '../../../styles';
.group {
  margin-top: 20px;
  height: 380px;
  background-color: #EEE;
  border-radius: 5px;
  overflow: hidden;
  h4 {
    background-color: #2A3F54;
    text-align: center;
    padding: 15px 0;
    border-radius: 5px 5px 0 0;
    font-size: 16px;
    color: $test;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  p {
    overflow: scroll;
    max-height: calc(100% - 70px);
    padding: 10px 20px;
  }
  .notes {
    overflow: scroll;
    max-height: 100%;
    padding: 5px;
    padding-bottom: 50px;
    min-height: 100%;
    .alert {
      padding: 10px 5px;
    }
    .note-title {
      width: 98%;
      min-height: 20px;
      padding: 15px;
      background: lighten(#2a3f54, 10%);
      margin: 10px auto;
      color: #FFF;
      border-radius: 5px;
      a {
        color: inherit;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
