<div class="title">
  <div class="row">
    <div class="col-sm-6 col-md-8">
      <h1>Note</h1>
    </div>
    <div class="col-sm-6 col-md-4 text-sm-right btn-header">
      <button class="btn btn-primary" (click)="toggleEditMode()" *ngIf="canEdit()">
        <span *ngIf="!editMode">Edit</span>
        <span *ngIf="editMode">Show</span>
      </button>
    </div>
  </div>
</div>
<div class="content-body">
  <div *ngIf="editMode">
    <form name="form" (ngSubmit)="f.form.valid && updateNote()" #f="ngForm" novalidate>
      <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !title.valid }">
        <label for="title" class="form-label">Title</label>
        <input type="text" id="title" class="form-control" name="title" [(ngModel)]="model.title" #title="ngModel" required />
        <div *ngIf="f.submitted && !title.valid" class="form-control-feedback">Title is required</div>
      </div>
      <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !content.valid }">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" id="content" name="content" [(ngModel)]="model.content" #content="ngModel" rows="6" required></textarea>
        <div *ngIf="f.submitted && !content.valid" class="form-control-feedback">Content is required</div>
      </div>
      <div class="form-group text-sm-right">
        <button (click)="deleteNote()" class="btn btn-danger">Delete Note</button>
        <button type="submit" class="btn btn-primary">Update Note</button>
      </div>
      <div *ngIf="error" class="alert alert-warning">{{error}}</div>
    </form>
  </div>
  <div *ngIf="!editMode">
    <div class="row">
      <div class="col-sm-12 col-md-10">
        <h2>{{model.title}}</h2>
        <p>{{model.content}}</p>
        <div class="row">
          <div class="col-sm-6">
            <p><b>Group Name:</b> {{getNoteGroupName(4)}}</p>
          </div>
          <div class="col-sm-6 text-sm-right">
            <p><b>Author:</b>{{model.author.name}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
