<div class="title">
  <div class="row">
    <div class="col-sm-12">
      <h1>New Group</h1>
    </div>
  </div>
</div>
<form name="form" (ngSubmit)="createGroup()" #f="ngForm" novalidate>
  <div class="form-group">
    <label for="title" class="form-label">Title</label>
    <input type="text" id="title" class="form-control" name="title" [(ngModel)]="model.name" #name="ngModel" required />
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-12 text-sm-right">
        <button type="submit" class="btn btn-success">Create Group</button>
      </div>
    </div>
  </div>
  <div *ngIf="error" class="alert alert-warning">{{error}}</div>
</form>
