<div class="title">
  <div class="row">
    <div class="col-sm-12">
      <h1>New Note</h1>
    </div>
  </div>
</div>
<div class="content-body">
  <form name="form" (ngSubmit)="f.form.valid && newNote()" #f="ngForm" novalidate *ngIf="groups.length">
    <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !title.valid }">
      <label for="title" class="form-label">Title</label>
      <input type="text" id="title" class="form-control" name="title" [(ngModel)]="model.title" #title="ngModel" required />
      <div *ngIf="f.submitted && !title.valid" class="form-control-feedback">Title is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !content.valid }">
      <label for="content" class="form-label">Content</label>
      <textarea class="form-control" id="content" name="content" [(ngModel)]="model.content" #content="ngModel" required></textarea>
      <div *ngIf="f.submitted && !content.valid" class="form-control-feedback">Content is required</div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-danger': f.submitted && !group_id.valid }">
      <label for="group_id" class="form-label">Group</label>
      <select class="form-control" id="group_id" name="group_id" [(ngModel)]="model.group_id" #group_id="ngModel" required>
        <option *ngFor="let group of groups" [value]="group.id">{{group.name}}</option>
      </select>
      <div *ngIf="f.submitted && !group_id.valid" class="form-control-feedback">Group is required</div>

    </div>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-12 text-sm-right">
          <button type="submit" class="btn btn-success">Create Note</button>
        </div>
      </div>
    </div>
    <div *ngIf="error" class="alert alert-warning">{{error}}</div>
  </form>
  <div class="alert alert-info" *ngIf="!groups.length">
    You don't belongs to any group. <a routerLink="/panel/groups/new">Create one</a> or <a routerLink="/panel/groups">search</a> in existing groups and create request to join.
  </div>
</div>
