  <div class="title">
    <div class="row">
      <div class="col-sm-6">
        <h1>Notes</h1>
      </div>
      <div class="col-sm-6 text-sm-right">
        <button class="btn btn-primary" routerLink="new" >Add Note</button>
      </div>
    </div>
  </div>
  <div class="content-body">
    <div class="row">
      <div class="col-sm-4" *ngFor="let note of notes">
        <div class="note" >
          <h4><a routerLink="/panel/note/{{note.id}}">{{note.title}}</a></h4>
          <p>{{note.content}}</p>
          <p class="author">{{note.author.name}}</p>
        </div>
      </div>
      <div class="col-sm-12" *ngIf="!notes.length">
        <div class="alert alert-info">
          You don't have any notes. <a routerLink="new">Add one</a>!
        </div>
      </div>
    </div>
  </div>
