@import '../../../../styles';
.title {
  margin-top: 25px;
}
.note {
  margin-top: 20px;
  height: 300px;
  background-color: #EEE;
  border-radius: 5px;
  h4 {
    background-color: #2A3F54;
    text-align: center;
    padding: 15px 0;
    border-radius: 5px 5px 0 0;
    font-size: 16px;
    color: $test;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  p {
    overflow: scroll;
    max-height: calc(100% - 70px);
    padding: 10px 20px;
  }
}
