<div class="title">
  <h1>{{groupTitle}}</h1>
</div>
<div class="content-body">
  <div class="row">
    <ng-container *ngFor="let note of notes">
      <div class="col-sm-4" *ngIf="note.group_id == groupId">
        <div class="note" >
          <h4><a routerLink="/panel/note/{{note.id}}">{{note.title}}</a></h4>
          <p>{{note.content}}</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
