@import '../../../styles';
.group {
  margin-top: 20px;
  height: auto;
  background-color: #EEE;
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: 50px;
  &.note-group {
    background: #FFF;
    position: relative;
  }
  .content {
    padding: 10px 20px;
  }
  p {
    margin: 5px 0;
  }
  h4 {
    background-color: #2A3F54;
    text-align: center;
    padding: 15px 0;
    border-radius: 5px 5px 0 0;
    font-size: 16px;
    color: $test;
  }
  .action-bar {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
  }
}
