<div class="title">
  <div class="row">
    <div class="col-sm-12">
      <h1>New Requests</h1>
    </div>
  </div>
</div>
<div class="content-body">
  <div class="row">
    <div class="col-sm-4" *ngFor="let group of groups; let i = index">
      <div class="group">
        <h4>{{group.name}}</h4>
        <div class="content" *ngIf="requests[i]  && requests[i].length">
          <div class="group note-group" *ngFor="let request of requests[i]">
            <h4>{{request.applicant.name}}</h4>
            <div class="content">
              <p>
                <b>Created at: </b><span>{{request.requested | date}}</span>
              </p>
              <div class="action-bar text-center">
                <button class="btn btn-danger" (click)="declineRequest(request.id)">Decline</button>
                <button class="btn btn-success" (click)="acceptRequest(request.id)">Approve</button>
              </div>
            </div>
          </div>
        </div>
        <div class="content" *ngIf="!requests[i] || !requests[i].length">
          <div class="alert alert-info">No requests</div>
        </div>
      </div>
    </div>
  </div>
</div>
