.panel {
  min-height: 100%;
  height: 100%;
  & > .row {
    min-height: 100%;
  }
}
.main-content {
  padding-bottom: 20px;
}
.sidebar {
  background-color: #2A3F54;
  color: #FFF;
  min-height: 100%;
  padding: 0;
  max-width: 230px;
}
