<div class="container-fluid panel">
  <div class="row">
    <div class="col-sm-3 sidebar">
      <panel-sidebar></panel-sidebar>
    </div>
    <div class="main-content col-sm">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
