.login-container {
  height: 100%;
  & > .row {
    height: 100%;
  }
  .login-panel {
    padding: 50px 20px;
    border: 1px solid #CCC;
    border-radius: 5px;
    flex: 0 0 auto !important;
  }
}
